@import "footer";
@import "header";
@import url("https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css");
@import url("https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css");
html {

  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16.5px;
  #test {
    height: 100%;
    width: 100%;
    background-color: green;
  }
}
body{
  background-color: blue;
  width: 100%;
  height: 100%;
}


