<div id="home-view">
  <div class="mt-5 mb-5"><h1 class="display-4 align-content-center text-center">Bienvenue sur Worker Genius !</h1></div>
{{> components/carousel }}


  <!--  <div class="row mb-5">-->
<!--    <div class="col-4 card bg-light">-->
<!--      <div class="card-body">-->
<!--        <div class="text-center"><p class="card-title">Êtes-vous déjà inscrit chez nous ?</p></div>-->
<!--        <div class="text-center"><a href="#" class="btn btn-success card-link" role="button">Connectez-vous ici-->
<!--          !</a>-->
<!--        </div>-->

<!--      </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-4 card bg-light">-->
<!--      <div class="card-body">-->
<!--        <div class="text-center"><p class="card-title">Êtes vous une entreprise à la recherche de nouveaux talents ?</p></div>-->
<!--        <div class="text-center"><a href="#" class="btn btn-primary card-link" role="button">Inscrivez-vous ici !-->
<!--          </a></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-4 card bg-light">-->
<!--      <div class="card-body">-->
<!--        <div class="text-center"><p class="card-title">Êtes vous une personne à la recherche de nouvelles opportunités et de certifications professionelles-->
<!--          reconnues ?</p></div>-->
<!--        <div class="text-center"><a href="#" class="btn btn-primary card-link" role="button">Inscrivez-vous ici !-->
<!--        </a></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
