/* ----------------------------------------- */
/*               ~ COLORS ~                  */
/* ----------------------------------------- */

$colors: (
    dark: #000,
    light: #FFF,
    purple-dark : #302A75,
    purple-mid : #382D91,
    purle-ligth : #5E50A6
);

/* ----------------------------------------- */
/*                ~ FONTS ~                  */
/* ----------------------------------------- */

$measure: 1.6rem;

@include font('bebasneue-regular', '../../../fonts/bebas_neue/BebasNeue-Regular');
@include font('montserrat-semibold','../../../fonts/montserrat/Montserrat-SemiBold');
@include font('montserrat-medium','../../../fonts/montserrat/Montserrat-Medium' );
$fonts: (
    arial: Arial,
    bsn-r: 'bebasneue-regular',
    mont-sb: 'montserrat-semibold',
    mont-md: 'montserrat-medium'
);

$fonts-size: (
    h1 : 3rem,
    h2 : 2.5rem,
    h3 : 2rem,
    big: 1.8rem,
    base: $measure,
    small: 1.4rem,
    smaller: 1.3rem,
    smallest: 1.2rem
);

/* ----------------------------------------- */
/*                ~ PATHS ~                  */
/* ----------------------------------------- */
$fa-font-path: "../../../node_modules/font-awesome/fonts/";