/* ----------------------------------------- */
/*                 ~ HELPERS ~               */
/* ----------------------------------------- */
@import "helpers/mixins";
@import "helpers/variables";
/* ----------------------------------------- */
/*                 ~ BASE ~                  */
/* ----------------------------------------- */
@import "base/base";
@import "base/typography";

/* ----------------------------------------- */
/*                ~ LAYOUT ~                 */
/* ----------------------------------------- */
@import "layouts/layouts";

/* ----------------------------------------- */
/*              ~ COMPONENTS ~               */
/* ----------------------------------------- */
@import "components/header";
@import "components/navbar.scss";
@import "components/footer";
@import "components/logo";
@import "components/avatar";
@import "components/split-bar";
@import "components/carousel";
@import "components/cards";
@import "components/team";
/* ----------------------------------------- */
/*                 ~ PAGES ~                 */
/* ----------------------------------------- */
@import "pages/home";


