.avatar {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;

  &.avatar-medium {
    max-width: 64px;
    max-height: 64px;
  }

  &.avatar-mini {
    max-width: 24px;
    max-height: 24px;
  }

  &.avatar-micro {
    max-width: 20px;
    max-height: 20px;
  }
}
