@import url("https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css");
@import url("https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css");

/*.home-carousel {
  position: relative;
  width: 100%;

 .slick-slide {
   width: 100%;
   margin: 0;
   padding: 0;
   left: 0;
   img {
     width: 100%;
     overflow: hidden;
   }
 }
}*/

#carousel_home {
  top: 0!important;
  height: 860px;
  /* Carousel image */
  .carousel-item {
    img { 
      top: 0!important;
      height: 860px; 
      object-fit: cover; 
    }
  }
  /* Carousel caption*/
  .carousel-caption {
    background: rgba(255,255,255,.4);
  }
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}