li.box-split-bar {
  width: 3rem;
  box-sizing: border-box;
  position: relative;
  top: -20%;
  left: -2%;

  & > hr.split-bar {

    position: relative;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    width: 0.01rem;
    height: 2rem;
    margin-left: 50%;
  }
}


