<div id="card_list" class="card-deck">
  <div class="card">
    <img class="card-img-top" src="public/images/cards/card_1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">PHP</h5>
      <p class="card-text">Difficulté : <span>Novice</span></p>
      <p class="card-text">Durée : <span>1 heure</span></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="public/images/cards/card_2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">JAVA</h5>
      <p class="card-text">Difficulté : <span>Intermédiare</span></p>
      <p class="card-text">Durée : <span>45 minutes</span></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="public/images/cards/card_3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Javascript</h5>
      <p class="card-text">Difficulté : <span>Pro</span></p>
      <p class="card-text">Durée : <span>2 heures</span></p>
      </div>
  </div>
</div>