<div class="home-carousel overlay">
    <div class="slick-slide"><img src="https://www.slate.fr/sites/default/files/styles/1060x523/public/open_space_0.jpg" alt=""></div>
    <div class="slick-slide"><img src="https://images.unsplash.com/photo-1524749292158-7540c2494485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt=""></div>
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script  type="text/javascript" src="public/javascripts/component/home-carousel.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.home-carousel').slick({
      arrows: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      fade: true,
      autoplay: true,
      autoplaySpeed: 5000,
    });
  });
</script>