<!--<div class="home-carousel overlay">
    <div class="slick-slide"><img src="public/images/banner_homepage/img_banner_1.jpg" alt="" /></div>
    <div class="slick-slide"><img src="public/images/banner_homepage/img_banner_2.jpg" alt="" /></div>
    <div class="slick-slide"><img src="public/images/banner_homepage/img_banner_2.jpg" alt="" /></div>
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script  type="text/javascript" src="public/javascripts/component/home-carousel.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.home-carousel').slick({
      arrows: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      fade: true,
      autoplay: true,
      autoplaySpeed: 5000,
    });
  });
</script>-->

<div id="carousel_home" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <img class="d-block w-100" src="public/images/banner_homepage/img_banner_1.jpg" alt="First slide" />
      <div class="carousel-caption centered"></div>
    </div>
    <div class="carousel-item" data-interval="10000">
      <img class="d-block w-100" src="public/images/banner_homepage/img_banner_2.jpg" alt="Second slide" />
      <div class="carousel-caption centered"></div>
    </div>
    <div class="carousel-item" data-interval="10000">
      <img class="d-block w-100" src="public/images/banner_homepage/img_banner_3.jpg" alt="Third slide" />
      <div class="carousel-caption centered"></div>
    </div>
</div>