<nav id="navbar_default" class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="home" class="nav-link active">Accueil</a>
        </li>
        <li class="nav-item">
          <a href="offers" class="nav-link">Offres</a>
        </li>
        <li class="nav-item">
          <a href="certifications" class="nav-link">Certifications</a>
        </li>
        <li class="nav-item">
          <a href="signup" class="nav-link">Inscription</a>
        </li>
        <!--<li class="box-split-bar"><hr class="bg-dark split-bar"></li>-->
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#modalLRForm">Connexion</a>
        </li>
      </ul>

    </div>
</nav>